body{
    background-color: antiquewhite;

}

 /* Computador */
@media (min-width: 769px) {
h1{
    color: green;
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
}

p{
    color: green;
    text-align: justify;
    margin: 100px;
    font-size: 40px;
    margin-top: 150px;
}
.accordion-item{
    background-color: lightgreen;
}
.accordion-button{
    background-color: green;
    color: antiquewhite;
    font-size: 30px;
}

}

@media (max-width: 768px){
    h1{
        color: green;
        text-align: center;
        margin-top: 50px;
        font-size: 40px;
    }
    
    p{
        color: green;
        text-align: justify;
        margin: 40px;
        font-size: 20px;
        margin-top: 40px;
    }
    .accordion-item{
        background-color: lightgreen;
    }
    .accordion-button{
        background-color: green;
        color: antiquewhite;
        font-size: 30px;
    }
}
.navbar.bg-body-tertiary {
    background-color: green !important;
    color: antiquewhite;
  }

  .rodape {
    background-color: green;
    color: antiquewhite;
    height: 30px; /* Altura desejada do rodapé */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixa o rodapé na tela */
    bottom: 0; /* Coloca o rodapé no final da viewport */
    width: 100%; /* Faz o rodapé ocupar toda a largura */
    padding: 20px;
  }
  .navbar .navbar-nav .nav-link,
  .navbar .navbar-brand,
  .navbar .navbar-toggler-icon {
    color: antiquewhite !important;
  }

